@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 160 49% 98%;
        --foreground: 160 57% 1%;
        --muted: 280 13% 91%;
        --muted-foreground: 280 5% 36%;
        --popover: 160 49% 98%;
        --popover-foreground: 160 57% 1%;
        --card: 160 49% 98%;
        --card-foreground: 160 57% 1%;
        --border: 160 10% 91%;
        --input: 160 10% 91%;
        --primary: 160 45% 57%;
        --primary-foreground: 0 0% 0%;
        --secondary: 280 45% 57%;
        --secondary-foreground: 0 0% 100%;
        --accent: 40 45% 57%;
        --accent-foreground: 0 0% 0%;
        --destructive: 16 100% 41%;
        --destructive-foreground: 0 0% 100%;
        --ring: 160 45% 57%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 160 50% 4%;
        --foreground: 160 24% 98%;
        --muted: 280 13% 9%;
        --muted-foreground: 280 5% 64%;
        --popover: 160 50% 4%;
        --popover-foreground: 160 24% 98%;
        --card: 160 50% 4%;
        --card-foreground: 160 24% 98%;
        --border: 160 10% 13%;
        --input: 160 10% 13%;
        --primary: 160 45% 57%;
        --primary-foreground: 0 0% 0%;
        --secondary: 280 45% 57%;
        --secondary-foreground: 0 0% 100%;
        --accent: 40 45% 57%;
        --accent-foreground: 0 0% 0%;
        --destructive: 16 100% 50%;
        --destructive-foreground: 0 0% 100%;
        --ring: 160 45% 57%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
